body{
	background :#4089e1;
}

form{
	background: #FFF;
}

.form-container{
	border-radius: 20px;
	padding: 50px;
	box-shadow: 5px 5px 10px 5px;
}
.bg{

	width: 100px;
	height: 100px;
	position: absolute;
	top:-46px;
	left: 42%;
	border-radius: 50%;


}